.menu-icon {
    font-size: 1.5rem;
    color: white;
}

::ng-deep p-button.p-element.menu-button {
    border-radius: 0;
}

::ng-deep .p-button:focus {
    box-shadow: 0 0 0 0;
}

::ng-deep div.p-toolbar.p-component {
    border-radius: 0;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

::ng-deep div.p-toolbar-group-left.p-toolbar-group-start.ng-star-inserted {
    flex-direction: column;
}

::ng-deep .p-sidebar-content {
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
}

::ng-deep p-button.sidebar-button {
    width: 100%;
}

::ng-deep button.p-ripple.p-element.p-button.p-component.p-button-text {
    width: 100%;
    color: white;
    gap: 1.2rem;
}

.sidebar-icon {
    font-size: 1.2rem;
    color: white;
}

::ng-deep span.p-button-label.ng-star-inserted {
    text-align: left;
}
