<p-sidebar class="user-sidebar" [(visible)]="userSidebarVisible" showCloseIcon="true">
    <ng-template pTemplate="header">
        <img priority ngSrc="assets/CountSync%20Banner.png" alt="banner" height="170" width="318"/>
    </ng-template>

    <ng-template pTemplate="content">
        <p-button [text]="true" class="sidebar-button" label="Sair" (onClick)="logout()">
            <i class="pi pi-power-off sidebar-icon"></i>
        </p-button>
    </ng-template>

    <ng-template pTemplate="footer">
    </ng-template>
</p-sidebar>

<p-toolbar class="side-menu">
    <ng-template pTemplate="start">
        <a class="logo-link" (click)="router.navigate(['/home'])">
            <img priority ngSrc="assets/CountSync.png" alt="logo" height="64" width="66"/>
        </a>

        <p-button [text]="true" class="menu-button">
            <i class="pi pi-home menu-icon"></i>
        </p-button>
        <p-button pTooltip="Usuário" tooltipPosition="right" [text]="true" (onClick)="userSidebarVisible = true" class="menu-button">
            <i class="pi pi-user menu-icon"></i>
        </p-button>
    </ng-template>

    <ng-template pTemplate="center">

    </ng-template>

    <ng-template pTemplate="end">

    </ng-template>
</p-toolbar>
